<nav class="navbar">
	<div class="navbar-left">
		<img [src]="darkMode ? 'assets/logo-dark.png' : 'assets/logo-light.png'" alt="Logo App" class="app-logo" />
	</div>

	<div class="navbar-right">
		<!-- Toggle switch semplice -->
		<label class="switch">
			<input type="checkbox" [checked]="darkMode" (change)="toggleTheme()" />
			<span class="slider"></span>
		</label>

		<a routerLink="/login" class="navbar-button login-button">Login</a>
		<a routerLink="/signup" class="navbar-button signup-button">Sign Up</a>
	</div>
</nav>