.navbar-avatar {
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
}
.navbar-avatar img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  box-shadow: 0 2px 8px rgba(106, 13, 173, 0.08);
  background: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--surface-a);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app-logo {
  height: 40px;
  width: auto;
}

.navbar-right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navbar-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease;
  border: 2px solid var(--primary-color);

}

.login-button {
  background-color: transparent;
  color: var(--primary-color);
}

.signup-button {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.login-button:hover {
  background-color: var(--primary-100);
}

.signup-button:hover {
  background-color: var(--primary-hover);
}

/* Toggle theme*/

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
  margin-right: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--border-color);
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

/* The circle */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* Checked state */
input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(22px);
}
