.login-container {
  max-width: 400px;
  padding: 1rem;
  margin: 10rem auto;
}

.login-card {
  background-color: var(--surface-b);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem 2rem;
  max-width: 400px;
  margin: auto;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.login-card:hover {
  box-shadow: 0 18px 30px rgba(0, 0, 0, 0.3);
}

.login-card-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  padding-bottom: 2rem ;
}

.login-card-footer {
  margin: 1rem 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="email"],
input[type="password"] {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline-offset: 2px;
  transition: border-color 0.2s ease-in-out;
  background-color: var(--surface-a);
  color: var(--text-color);
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 4px var(--primary-color);
}

p-button {
  align-self: center;
}

p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
