<div class="auth-form-container">
	<div class="auth-form-card">
		<div class="auth-form-card-header">
			Login
		</div>
		<form [formGroup]="loginForm">
			<input id="email" type="email" formControlName="email" placeholder="Email or username">
			<small *ngIf="validationService.getFieldError(loginForm.get('email')) as error" class="error">{{ error }}</small>

			<input id="password" type="password" formControlName="password" placeholder="Password">
			<small *ngIf="validationService.getFieldError(loginForm.get('password')) as error" class="error">{{ error }}</small>

			<button class="button-form" type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">
				Log in
			</button>

		</form>

		<p>Form Status: {{ loginForm.status }}</p>
		<p *ngIf="this.loginForm.valid">{{ this.loginForm.value | json }}</p>

		<hr />

		<div class="auth-form-card-footer">
			Don't have an account? <a routerLink="/signup">Sign Up</a>
		</div>
	</div>
</div>